/* .links {
  margin-left: 2rem;
  margin-right: 2rem;
} */

/* .Navbar a:active,
.Navbar a.active {
  color: rgb(233, 154, 80);
} */

.header a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.header a:hover,
.header a:active {
  color: #b864da;
}

.header button {
  font-size: 1.25rem;
  background-color: #ffbb00;
  border: 1px solid #ffbb00;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #2c2922;
}

.header button:hover,
.header button:active {
  background-color: #ffa600;
  border-color: #ffa600;
}
